@charset "utf-8";
@import "~bulma/bulma";
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
.navbar-item.has-dropdown .navbar-dropdown {
  display: none;
}
.navbar-item.has-dropdown.is-active .navbar-dropdown {
  display: block;
}
.transparent {
  background-color: transparent !important;
}
* {
  box-shadow: none !important;
}
.transparent {
  background: transparent !important;
}
#modal {
  z-index: 100;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}
.tab {
  display: none;
}
.tab.active {
  display: block;
}
.content-container {
  min-height: 68vh;
}
.public-perms {
  text-align: right;
}
#vol_prompt {
  text-align: center;
}
#volunteer_init {
  background: none;
  border: none;
  color: darkcyan;
  cursor: pointer;
  font-weight: bold;
}
#volunteer_init:hover {
  text-decoration: underline;
}
.obj_table {
  display: block;
  max-height: 55vh;
  overflow: auto;
  thead th {
    position: sticky;
    top: 0;
    background: white;
  }
}
.obj_img_container {
  width: 80px;
  .obj_img {
    color: $link;
  }
  .obj_img:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
