@charset "utf-8";
@import "~bulma/bulma";
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
.navbar-item.has-dropdown .navbar-dropdown {
  display: none;
}
.navbar-item.has-dropdown.is-active .navbar-dropdown {
  display: block;
}
.transparent {
  background-color: transparent !important;
}
* {
  box-shadow: none !important;
}
.transparent {
  background: transparent !important;
}
#modal {
  z-index: 100;
}
